<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>IP Monitoring</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
      <span class="navbar-brand">IP Monitoring</span>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/docs/api">API Documentation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/docs/jsdoc">JsDoc</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/thomaslachaux/IP-Monitoring">Github</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">IP</th>
            <th scope="col">Stats</th>
            <th scope="col">Availibility</th>
          </tr>
        </thead>
        <tbody>
          <% hosts.forEach(host => { %>
          <tr>
            <td><%= host.name %></td>
            <td><%= host.ip %></td>
            <td><a href="/ips/<%= host.ip %>">Stats</a></td>
            <td><a href="/ips/<%= host.ip %>/availibility">Availibility</a></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
</html>
